.center{
    text-align: center;
}
.centered-content{
    max-width: 550px;
    margin: auto;
}
.background-color {
    background-color: rgb(238, 238, 238);
    background-size: auto 550px;
}
.bold {
    font-weight: bold;
}
.small-image {
    width: 45px;
    height: auto;
}
.div1 {
    width: 500px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}
.div2 {
    width: 45px;
    padding: 0px;
    margin: 15px 15px -13px auto;
}
.Montserrat {
    font-family: 'Montserrat', sans-serif;
}